/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>


// layers
#define DEF     0
#define NUM     1
#define NAV     2
#define MEDIA   3
#define FUN     4

#include "keys/46.h"
#include "includes/macros.dtsi"
#include "includes/combos.dtsi"
#include "includes/behaviors.dtsi"

// ╰─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────╯
//           │QUA THUMB│SEC THMB │PRM THMB │TER THMB │   │TER THMB │PRM THMB │SEC THMB │QUA THUMB│
//      hold │   none  │   Space │  NUM    │ Shift   │   │  NAV    │Alt+BSPC │  FUN    │   none  │
//       tap │   undo  │   BSPC  │ SK SHFT │  Tab    │   │  SPACE  │  BSPC   │ SK CMD  │   redo  │
//           ╰───────────────────────────────────────╯   ╰───────────────────────────────────────╯


// Thumb default         hold     tap
#define SECLTHMB  &mt    SPACE    BSPC  
#define PRMLTHMB  &ltsk  NUM      LSHFT  
#define TERLTHMB  &mt    LSHFT    TAB

#define TERRTHMB  &ltr   NAV     SPACE
#define PRMRTHMB  &mt    LA(BSPC) BSPC   // tap gives you Backspace : long tap gives you delete word
#define SECRTHMB  &ltsk  FUN      LGUI //  tap for sticky command : hold for function layer

// Hold taps
// hold or tap
#define MEDIA_Q  &ltr MEDIA  Q


// shorter codes
#define SCRSHT   &kp  LS(LG(N1))
#define LOCK     &kp  LG(LC(Q))
#define SHENTER  &kp  LS(RET)
#define BPSTE    &kp  LG(V)
#define BCPY     &kp  LG(C)
#define BCUT     &kp  LG(X)
#define BUNDO    &kp  LG(Z)
#define BREDO    &kp  LG(LS(Z))
#define BPREV    &kp  C_PREV
#define BNEXT    &kp  C_NEXT
#define BPLYPSE  &kp  C_PLAY_PAUSE
#define BMUTE    &kp  K_MUTE
#define BSTOP    &kp  C_PLAY_PAUSE
#define BVOLD    &kp  K_VOL_DN
#define BVOLU    &kp  K_VOL_UP
#define BRIUP    &kp  C_BRIGHTNESS_INC
#define BRIDOWN  &kp  C_BRIGHTNESS_DEC
#define MOVERGHT &kp  LC(RIGHT)
#define MOVELEFT &kp  LC(LEFT)
#define SHOWAPPS &kp  LC(UP)
#define MEETING  &kp  LS(LG(J))
#define BLUUSB   &out OUT_TOG // toggle keyboard output bluetooth/usb
#define ___      &trans      //  transparent
#define _x_      &none

// Home row mods
#define HRML(k1, k2, k3, k4) &hml LGUI  k1  &hml LALT  k2 &hml LCTRL k3 &hml LSHFT k4
#define HRMR(k1, k2, k3, k4) &hmr RSHFT k1  &hmr RCTRL k2 &hmr RALT  k3 &hmr RGUI  k4


/ {
  keymap {
    compatible = "zmk,keymap";
    default_layer { // layer 0 (default)
      bindings = <
//  ╭──────────╭─────────────────────────────────────────────────╮                                 ╭───────────────────────────────────────────────────────────╮
//  │  PASTE   │    Q    │    W    │    E    │    R    │    T    │                                 │    Y    │    U    │    I    │    O    │    P    │   NOP   │
      BPSTE      MEDIA_Q  &kp W     &kp E     &kp R     &kp T                                       &kp Y     &kp U     &kp I     &kp O     &kp P        _x_
//  ├──────────├─────────┼─────────┼─────────┼─────────┼─────────┤                                 ├─────────┼─────────┼─────────┼─────────┼─────────┤─────────┤
//  │   COPY   │    A    │    S    │    D    │    F    │    G    │                                 │    H    │    J    │    K    │    L    │    '    │   NOP   │
       BCPY    HRML(A,        S,        D,        F)    &kp G                                       &kp H    HRMR(J,        K,        L,       SQT)      _x_    
//  ├──────────├─────────┼─────────┼─────────┼─────────┼─────────┤   ╭─────────╮     ╭─────────╮   ├─────────┼─────────┼─────────┼─────────┼─────────┤─────────┤
//  │   CUT    │    Z    │    X    │    C    │    V    │    B    │      LKNOB           RKNOB      │    N    │    M    │   ,/;   │   ./:   │    /    │CAPSLOCK │
        BCUT    &kp Z     &kp X     &kp C     &kp V     &kp B          SCRSHT          MEETING      &kp N     &kp M     &cma_smi  &dot_cln  &kp FSLH &kp CAPSLOCK
//  ├──────────╰─────────┼─────────┼─────────┼─────────┼─────────┼   ╰─────────╯     ╰─────────╯   ┼─────────┼─────────┼─────────┼─────────┼───────────────────╯
//             │QUALTHMB │SEC THMB │PRM THMB │TER THMB │                                           │TER THMB │PRM THMB │SEC THMB │QUARTHMB │
                BUNDO  SECLTHMB  PRMLTHMB  TERLTHMB                                              TERRTHMB  PRMRTHMB  SECRTHMB  BREDO
//             ╰───────────────────────────────────────╯                                           ╰───────────────────────────────────────╯
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
    };


    number_layer { // layer 1 (numbers)
      bindings = <
//  ╭──────────╭─────────────────────────────────────────────────╮                                 ╭───────────────────────────────────────────────────────────╮
//  │    NOP   │    0    │    7    │    8    │    9    │   NOP   │                                 │&caps_word│   NOP   │   NOP   │   NOP   │   NOP   │   NOP  │
         _x_   &kp N0    &kp N7    &kp N8    &kp N9        _x_                                      &caps_word    _x_       _x_       _x_       _x_       _x_
//  ├──────────├─────────┼─────────┼─────────┼─────────┼─────────┤                                 ├─────────┼─────────┼─────────┼─────────┼─────────┤─────────┤
//  │   NOP    │   NOP   │    4    │    5    │    6    │   NOP   │                                 │    =    │    +    │    -    │    *    │    /    │   NOP   │
        _x_        _x_   &kp N4    &kp N5    &kp N6        _x_                                     &kp EQUAL &kp PLUS  &kp MINUS &kp STAR  &kp FSLH      _x_    
//  ├──────────├─────────┼─────────┼─────────┼─────────┼─────────┤   ╭─────────╮     ╭─────────╮   ├─────────┼─────────┼─────────┼─────────┼─────────┤─────────┤
//  │   NOP    │   NOP   │   1     │    2    │    3    │   NOP   │      LKNOB           RKNOB      │   NOP   │   NOP   │   ,/;   │   ./:   │    /    │   NOP   │
        _x_        _x_  &kp N1     &kp N2    &kp N3        _x_         SCRSHT          MEETING         _x_       _x_    &cma_smi  &dot_cln   &kp FSLH    _x_
//  ├──────────╰─────────┼─────────┼─────────┼─────────┼─────────┼   ╰─────────╯     ╰─────────╯   ┼─────────┼─────────┼─────────┼─────────┼───────────────────╯
//             │   NOP   │   NOP   │   NUM   │   NOP   │                                           │  SPACE  │ BSPC    │  ENTER  │  Delete │
                   _x_       _x_       ___       _x_                                                &kp SPACE &kp BSPC   &kp RET    &kp DEL
//             ╰───────────────────────────────────────╯                                           ╰───────────────────────────────────────╯
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
    };



  navigation_layer { // layer 2 (navigation)
      bindings = <
//  ╭──────────╭─────────────────────────────────────────────────╮                                 ╭───────────────────────────────────────────────────────────╮
//  │  PASTE   │   NOP   │SHOWAPPS │MOVELEFT │MOVERGHT │ MEETING │                                 │   UNDO  │   CUT   │  COPY   │  PASTE  │  REDO   │   NOP   │
      BPSTE        _x_    SHOWAPPS  MOVELEFT  MOVERGHT   MEETING                                      BUNDO     BCUT     BCPY      BPSTE     BREDO      _x_
//  ├──────────├─────────┼─────────┼─────────┼─────────┼─────────┤                                 ├─────────┼─────────┼─────────┼─────────┼─────────┤─────────┤
//  │   COPY   │   CMD   │   ALT   │   CTRL  │  SHIFT  │   NOP   │                                 │  LEFT   │  DOWN   │    UP   │  RIGHT  │   NOP   │   NOP   │
       BCPY   &kp LGUI  &kp LALT   &kp LCTRL &kp LSHFT     _x_                                    &kp LEFT  &kp DOWN    &kp UP  &kp RIGHT      _x_       _x_    
//  ├──────────├─────────┼─────────┼─────────┼─────────┼─────────┤   ╭─────────╮     ╭─────────╮   ├─────────┼─────────┼─────────┼─────────┼─────────┤─────────┤
//  │   CUT    │   NOP   │   NOP   │   NOP   │   NOP   │   NOP   │      LKNOB           RKNOB      │  HOME   │  PGDN   │   PGUP  │   END   │  INSERT │   NOP   │
        BCUT       _x_       _x_       _x_       _x_       _x_         SCRSHT          MEETING    &kp HOME  &kp PG_DN &kp PG_UP  &kp END  &kp INS        _x_
//  ├──────────╰─────────┼─────────┼─────────┼─────────┼─────────┼   ╰─────────╯     ╰─────────╯   ┼─────────┼─────────┼─────────┼─────────┼───────────────────╯
//             │   NOP   │SHFTENTER│  BSPC   │  SPACE  │                                           │   NAV   │   NOP   │   NOP   │   NOP   │
                   _x_    SHENTER  &kp BSPC &kp SPACE                                                  ___       _x_       _x_       _x_
//             ╰───────────────────────────────────────╯                                           ╰───────────────────────────────────────╯
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
    };


    media_layer { // layer 3 (media)
      bindings = <
//  ╭──────────╭─────────────────────────────────────────────────╮                                 ╭───────────────────────────────────────────────────────────╮
//  │  PASTE   │  MEDIA  │SHOWAPPS │MOVELEFT │MOVERGHT │  SHOT   │                                 │   NOP   │   NOP   │   NOP   │   NOP   │   LOCK  │   NOP   │
      BPSTE        ___    SHOWAPPS  MOVELEFT  MOVERGHT   SCRSHT                                        _x_       _x_       _x_       _x_       LOCK      _x_
//  ├──────────├─────────┼─────────┼─────────┼─────────┼─────────┤                                 ├─────────┼─────────┼─────────┼─────────┼─────────┤─────────┤
//  │   COPY   │   NOP   │   NOP   │   NOP   │   NOP   │ MEETING │                                 │   NOP   │   NOP   │   NOP   │   NOP   │   NOP   │   NOP   │
       BCPY        _x_       _x_       _x_       _x_     MEETING                                       _x_       _x_       _x_       _x_       _x_       _x_    
//  ├──────────├─────────┼─────────┼─────────┼─────────┼─────────┤   ╭─────────╮     ╭─────────╮   ├─────────┼─────────┼─────────┼─────────┼─────────┤─────────┤
//  │   CUT    │   NOP   │   NOP   │   NOP   │   NOP   │   NOP   │      LKNOB           RKNOB      │   NOP   │   NOP   │   NOP   │   NOP   │   NOP   │   NOP   │
        BCUT       _x_       _x_       _x_       _x_       _x_          BVOLD          MEETING         _x_       _x_       _x_       _x_       _x_       _x_
//  ├──────────╰─────────┼─────────┼─────────┼─────────┼─────────┼   ╰─────────╯     ╰─────────╯   ┼─────────┼─────────┼─────────┼─────────┼───────────────────╯
//             │   NOP   │PREV_TRCK│Paus/Play│NEXT_TRCK│                                           │VOl_DOWN │  MUTE   │  VOL_UP │   NOP   │
                   _x_     BPREV    BPLYPSE    BNEXT                                                  BVOLD     BMUTE     BVOLU    _x_
//             ╰───────────────────────────────────────╯                                           ╰───────────────────────────────────────╯
      >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_BRI_DN C_BRI_UP>;
    };

    function_layer { // layer 4 (function)
      bindings = <
//  ╭──────────╭─────────────────────────────────────────────────╮                                 ╭───────────────────────────────────────────────────────────╮
//  │  PASTE   │   F12   │   F7    │   F8    │   F9    │caps word│                                 │   NOP   │   NOP   │   NOP   │   NOP   │   NOP   │   NOP   │
      BPSTE    &kp F12   &kp F7    &kp F8    &kp F9     &caps_word                                     _x_       _x_       _x_       _x_       _x_       _x_
//  ├──────────├─────────┼─────────┼─────────┼─────────┼─────────┤                                 ├─────────┼─────────┼─────────┼─────────┼─────────┤─────────┤
//  │   COPY   │   F11   │   F4    │   F5    │   F6    │   NOP   │                                 │   NOP   │  SHIFT  │  CTRL   │   ALT   │   CMD   │   NOP   │
       BCPY    &kp F11   &kp F4    &kp F5    &kp F6        _x_                                         _x_  &kp RSHFT &kp RCTRL &kp RALT  &kp RGUI      _x_    
//  ├──────────├─────────┼─────────┼─────────┼─────────┼─────────┤   ╭─────────╮     ╭─────────╮   ├─────────┼─────────┼─────────┼─────────┼─────────┤─────────┤
//  │   CUT    │   F10   │   F1    │   F2    │   F3    │   NOP   │      LKNOB           RKNOB      │   NOP   │   NOP   │   NOP   │   NOP   │   NOP   │   NOP   │
        BCUT   &kp F10   &kp F1    &kp F2    &kp F3        _x_          SCRSHT         MEETING         _x_       _x_       _x_       _x_       _x_       _x_
//  ├──────────╰─────────┼─────────┼─────────┼─────────┼─────────┼   ╰─────────╯     ╰─────────╯   ┼─────────┼─────────┼─────────┼─────────┼───────────────────╯
//             │   NOP   │CAPSLOCK │  SPACE  │   TAB   │                                           │    NOP  │   NOP   │   FUN   │   NOP   │
                   _x_ &kp CAPSLOCK &kp SPACE &kp TAB                                                   _x_       _x_       ___       _x_
//             ╰───────────────────────────────────────╯                                           ╰───────────────────────────────────────╯
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
    };

  };
};


